{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for song in songs %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ song.author }}</a>
              <small class="text-muted">{{ song.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ song.title }}</a></h2>
            <audio
            controls
            src="{{ url_for('static', filename='audio/' + song.file_location) }}">
            Your browser does not support the
            <code>audio</code> element.
            </audio>
          </div>
        </article>
    {% endfor %}
    {% for podcast in podcasts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ podcast.author }}</a>
              <small class="text-muted">{{ podcast.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ podcast.title }}</a></h2>
            <audio
            controls
            src="{{ url_for('static', filename='audio/' + song.file_location) }}">
            Your browser does not support the
            <code>audio</code> element.
            </audio>
          </div>
        </article>
    {% endfor %}
{% endblock content %}